<head>
  <title>Using Flatpickr</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/themes/dark.css">
<style>
body { text-align: center;background: #9ba8ae;}
h1 { font-weight: bold;font-size: 40px;color: #ffffff; }
h2 { font-size: 24px;color: #ffffff; }
h3 { font-size: 24px;color: #ffffff; }
P {font-style: italic;}
img { width: 50px;border-radius: 50px;}
input { border: 2px solid whitesmoke;border-radius: 20px; padding: 12px 10px; text-align: center; width: 250px;}
button { border: none; border-radius: 10px; padding: 12px 10px; text-align: center; cursor: pointer;  background: coral; color: whitesmoke;}
</style>
</head>
<body>
<% if @flight.empty? == true %>
<script type="text/javascript">
    window.location.href="/" 
  </script>
  <%else%>

  <h1> Covid Test Result <br/>Date Calculator </h1>

  <hr>
  <%= loop do
    @flight = @flight.to_date-1.days
    if @holidays.exclude?(@flight.to_s) && @weekend.exclude?(@flight.to_date.cwday) == true
    @count= @count +1
    
    end
    if @count == 3
    break
    end
end %>

<h3>The report should be issued after <h3 class="text-success">

<%= @flight%> <%= if @flight.to_date.cwday == 7
  ",Sunday"
  elsif @flight.to_date.cwday == 6
 ",Saturday"
  elsif @flight.to_date.cwday == 5
 ",Friday"
  elsif @flight.to_date.cwday == 4
 ",Thursday"
 elsif @flight.to_date.cwday == 3
 ",Wednesday"
  elsif @flight.to_date.cwday == 2
 ",Tuesday"
   elsif @flight.to_date.cwday == 1
 ",Monday"
end %>  (included) </h3> </h3>

<a href ="/" class="btn btn-info" role="button"> Calculate Again </a>

<br/>

<p> Note: The calculator automaticaly considers weekneds as non-business days. <p>
  <p> Disclaimer: The calculator is for reference only. Should you have any questions, please contact 1922 for more info.
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>
<% end %>
</body>