<div class="page-header">
<h1> Negayive Report Issuance with Holidays <h1>
</div>
<div>
<h3> Your flight departs on <h3 class="text-danger"> <%= @flight_depart %>
<%= if @flight_depart_week == 7
  "(Sunday)"
  elsif @flight_depart_week == 6
 "(Saturday)"
  elsif @flight_depart_week == 5
 "(Friday)"
  elsif @flight_depart_week == 4
 "(Thursday)"
 elsif @flight_depart_week == 3
 "(Wednesday)"
  elsif @flight_depart_week == 2
 "(Tuesday)"
   elsif @flight_depart_week == 1
 "(Monday)"
end %> </h3> 
<div>


<h3>The report will be good if issued after <h3 class="text-success">
<%= if @flight_depart_week == 7 
  @flight_depart.to_date- 4.days- @number_of_holidays.to_i.days-@weekend_factor*2.days
  elsif @flight_depart_week == 6
  @flight_depart.to_date- 3.days- @number_of_holidays.to_i.days-@weekend_factor*2.days
  elsif @flight_depart_week == 5
  @flight_depart.to_date - 2.days-3.days-@number_of_holidays.to_i.days-@weekday_factor*2.days
  elsif @flight_depart_week == 4
  @flight_depart.to_date - 2.days-3.days-@number_of_holidays.to_i.days-@weekday_factor*2.days
  elsif @flight_depart_week == 3
  @flight_depart.to_date - 2.days-3.days-@number_of_holidays.to_i.days-@weekday_factor*2.days
  elsif @flight_depart_week == 2
  @flight_depart.to_date - 2.days-3.days-@number_of_holidays.to_i.days-@weekday_factor*2.days
  elsif @flight_depart_week == 1
  @flight_depart.to_date - 2.days-3.days-@number_of_holidays.to_i.days-@weekday_factor*2.days
end %> (included) </h3> <h3>and before boarding if there are <h3 class="text-success"> <%= @number_of_holidays %> </h3> <h3> holiday(s) before your flight. <h3>
</div>

<a href= "/home" class="btn btn-info" role="button"> Select a new date </a>
<br/>
<p> "Note: The calculation included weekends and the number of holidays entered." </p>
</div>


