<div class="jumbotron" style="background-color:#D4E6F1">
<span class="text-white-50 bg-dark"><h1>Taiwan Covid Testing Report Calculator </h1></span>
<h3> 3 business days prior to departure</h3>
</div>

<div class="container text-center">
<h1> Selet your flight depature date </h1>
</div>
<%= month_calendar do |date| %>
  <%= link_to date.day,:controller=>"application", :action=> "show",:date=> date%>
<% end %>


